<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= page.title %></title>

  <!-- Name of web application (only should be used if the website is used as an app) -->
  <meta name="application-name" content="Triton">
  <!-- Theme Color for Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#488dfe">
  <!-- Short description of the document (limit to 150 characters) -->
  <!-- This content *may* be used as a part of search engine results. -->
  <meta name="description" content="Triton is a plugin that helps you translating your Minecraft server. Sends the same message on different languages... Hooks into all plugins!">
  <!-- Control the behavior of search engine crawling and indexing -->
  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->
  <!-- Identify the software used to build the document (i.e. - WordPress, Dreamweaver) -->
  <meta name="generator" content="program">
  <!-- Short description of your document's subject -->
  <meta name="subject" content="Triton is a plugin that helps you translating your Minecraft server!">
  <!-- Gives a general age rating based on the document's content -->
  <meta name="rating" content="General">

  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Icon in the highest resolution we need it for -->
  <link rel="icon" sizes="192x192" href="/img/icon.png">
  <!-- Apple Touch Icon (reuse 192px icon.png) -->
  <link rel="apple-touch-icon" href="/img/icon.png">

  <!-- Link to an external CSS file -->
  <link rel="stylesheet" href="/css/index.css">

  <script src="/js/index.js"></script>
</head>
<body>
