:local(.container) {
  padding: 100px 0px 200px 0px;
}

:local(.centerContainer) {
  text-align: center;
}

:local(.markdown) {
  color: #24292e;
  code {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    //font-size: 85%;
    margin: 0;
    padding: 0.2em 0.4em;
    color: var(--mdc-theme-secondary);
  }
  hr {
    border: none;
    border-top: 1px solid #eaecef;
  }
}
