:local(.featureList) {
  :global(.mdc-list-item) {
    height: auto;
    min-height: 55px;
    padding: 5px 3px;
    box-sizing: border-box;
    border-radius: 15px;
  }
  :global(.mdc-list-item__graphic) {
    color: green;
  }
}
